body,
html,
#Root {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--almost-black);
  font-family: montserrat;
}

.App {
  display: flex;
  width: 100vw;
}


.logo {
  width: 100%;
}

a {
  text-decoration: underline;
  color: rgba(255, 196, 0);
}

a canvas {
  position: absolute;
  z-index: 0;
}

:root {
  --almost-black: rgb(29, 29, 29);
  --port-blue: #007FD0;
  --port-light-gray: rgb(115, 115, 115);
  --port-yellow: rgb(255, 196, 0);
}

.main-page {
  min-height: 100vh;
  background-color: var(--almost-black);
}

.home-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parallax-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.decoration-header {
  color: var(--port-light-gray);
  position: absolute;
  top: 2rem;
  font-family: "shadows into light";
  z-index: 1;
}

.decoration-footer {
  color: var(--port-light-gray);
  position: absolute;
  bottom: 2rem;
  font-family: "shadows into light";
  z-index: 1;
}

.deco-html {
  padding-left: 1.5rem;
}

.deco-body {
  padding-left: 3rem;
}

.decoration-header>p,
.decoration-footer>p {
  font-family: inherit;
  color: var(--port-light-gray);
  font-weight: 600;

}

.menu-bar {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nunito;
}

ul,
li {
  list-style: none;
}

.menu-bar>ul>li>button {
  background-color: transparent;
  border: none;
  color: rgb(115, 115, 115);
  width: 100%;
  padding: .6rem;
  font-weight: 300;
  font-size: 1.1rem;
  border-bottom: .1px solid var(--port-light-gray);
  font-family: montserrat;
}

.menu-bar>ul>li>.menuBtnFirst {
  border-top: .1px solid var(--port-light-gray);
}

.menu-bar>ul>li>button:hover {
  /* background-color: black; */
  color: var(--port-blue);
  /* color: rgb(255, 196, 0); */

}

.menu-bar>ul {
  justify-content: center;
  align-items: center;
}

.home-text-top-container{
  position: absolute;
  color: var(--port-light-gray);
  display: inline-block;
  font-size: 4.5em;
  /* top: 0; */
  left: 20%;
  z-index: 0;
  font-weight: 700;
  font-family: montserrat;
  /* text-shadow: 0px 5px 8px rgb(0, 0, 0); */
  top: 32%;
  transform: translateY(-100%);
}

 .top-start{
  border-right: 5px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation:
   typing 1.5s steps(8) ,
   cursor .4s step-end 9 alternate;
  animation-fill-mode: forwards;
}

@keyframes cursor{
  50%{
    border-right:5px solid var(--port-blue);
  }
}

@keyframes typing{
  from {width: 0;}
}
.home-text-bottom-container{
  position: absolute;
  font-size: 2.5rem;
  z-index: 1;
  font-weight: 700;
  font-family: montserrat;
  color: var(--port-light-gray);
  /* text-shadow: 0px 5px 8px rgb(0, 0, 0); */
  bottom: 35%;
  left: 50%;
}

.home-text-bottom-container >p{
  visibility: hidden;
}

.home-text-bottom-container > .bottom-start{
  visibility: visible;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid transparent;
  animation: 
    btm-typing 2s steps(22) alternate,
    btm-cursor .4s step-end 10 alternate;
}

@keyframes btm-cursor{
  50%{
    border-right: 5px solid var(--port-blue);
  }
}

@keyframes btm-typing{
  from{width: 0;}
}

.contact-me-btn {
  font-size: 1.2rem;
  position: absolute;
  background-color: transparent;
  border: 1px solid var(--port-blue);
  /* color: var(--port-light-gray); */
  padding: .6em 1.5em;
  color: var(--port-blue);
  width: 100%;
  z-index: 2;
  margin-top: 1rem;
  border-radius: 6px;
}

.contact-me-btn:hover,
.send-message-btn:hover {
  background-color: rgb(50,50,50);
  color:var(--port-blue);
}

.about-me-page,
.projects-page,
.contact-me-page {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  justify-content: center;
}

.my-pic {
  width: 12rem;
  height: auto;
  border-radius: 900rem;
  border: 2px solid var(--port-light-gray);
}

.main-para {
  padding-top: 1rem;
  position: relative;
  color: rgb(220, 220, 220);
}

.main-content {
  display: flex;
  width: 100%;
  align-items: center;
  /* gap: 2rem; */
  /* border: 1px solid blue; */
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  /* border: 1px solid rgb(255, 0, 0); */

}

.img-container {
  width: max-content;
  padding-left: 2rem;
  position: relative;
}

.left>p {
  margin-left: 2rem;
}

.left > form{
  margin-left: 2rem;
}

.right {
  display: flex;
  width: 100%;
  height: 100%;
}

@media(max-width: 600px) {
  .description-home {
    font-size: 1.8rem;
  }

  .menu-icon {
    font-size: 1.8rem;
  }

  :root {
    font-size: 8px;
  }
}

.menu-section {
  background-color: rgb(24, 24, 24);
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

}

.my-links {
  display: flex;
  gap: 1rem;
  padding-top: 100%;
  padding-bottom: 4rem;
}

.link-icon {
  color: var(--port-light-gray);
  font-size: 2rem;
}

.link-icon:hover {
  color: var(--port-blue);
}

.about-me-para {
  /* font-weight: 600; */
  font-size: 1.1rem;
  width: 48ch;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  height: 100%;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skill-container:hover>.skill-icon {
  color: rgb(255, 196, 0);
  transform: scale(1.3);
}

.skill-container:hover>p {
  visibility: visible;
  font-size: 1.1rem;
}

.skill-container>p {
  position: absolute;
  top: -2rem;
  color: rgba(255, 196, 0);
  font-weight: 600;
  visibility: hidden;
  font-size: 0rem;
  transition-duration: 300ms;
}

.skill-icon {
  color: var(--port-light-gray);
  font-size: 4rem;
  transition-duration: 300ms;
}

.featured-image {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 9px;

}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  gap: 1rem;
  position: relative;
  /* background: rgb(255, 196, 0); */
  perspective: 600px;
}

.feat-project-container {
  max-width: 20rem;
  position: relative;
  border-radius: 9px;
  transform: rotateY(-40deg);
  transition-duration: 300ms;
  z-index: 0;

}

.feat-project-container:hover {
  transform: rotate(0deg) translateX(30%);
  z-index: 1;
}

.feat-project-container:hover>button {
  display: block;

}

.view-project-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: .6rem;
  background-color: var(--port-blue);
  font-weight: 800;
  color: white;
  border-radius: 6px;
  border: none;
  display: none;
  /* border: 1px solid var(--port-blue); */
}

.view-project-button:hover {
  background-color: var(--port-yellow);
  color: var(--almost-black);
}

.image-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 900rem 900rem rgba(0, 0, 0, .5);
  border-radius: 9px;
}

.image-cover:hover {
  box-shadow: inset 0 0 900rem 900rem rgba(0, 0, 0, 0);
}

.open-project-container {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--almost-black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid var(--port-yellow);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-name {
  font-size: 1.3rem;
}

.project-images-container>img {
  width: 100%;
}

.close-project-icon {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
}

.close-project-icon:hover {
  color: var(--port-yellow);
}

form{
  /* width: 60%; */
  width: 100%;
  display: grid;
  /* border: 1px solid green; */
  grid-template-columns: repeat(2, 1fr);
  gap: .7rem;
  padding: 1rem;
  /* align-self: flex-start; */
}

.contact-me-para{
  font-size: 1.1rem;
}

input{
  width: 100%;
  background-color: rgb(50, 50, 50);
  appearance: none;
  border: none;
  padding: 1rem;
  outline: none;
}

input,
textarea{
  color: white;
  font-size: 1.1rem;
}

input:focus-visible,
textarea:focus-visible{
  border-bottom: 1px solid var(--port-blue);
}

input::placeholder,
textarea::placeholder{
   color: var(--port-light-gray);
}

form > div{
  position: relative;
}

.loader{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: green;
}

.subject-input-container{
  grid-column-start: 1;
  grid-column-end: -1;
}

label{
  color: var(--port-light-gray);
}

.textarea-container{
  grid-column-start: 1;
  grid-column-end: -1;
}

textarea{
  height: 8rem;
  width: 100%;
  background-color: rgb(50, 50, 50);
  appearance: none;
  border: none;
  padding: 1rem;
  outline: none;
  max-height: 16rem;
  resize: vertical;
}

.name-on-valid,
.name-on-invalid,
.email-on-valid,
.email-on-invalid,
.subject-on-valid,
.subject-on-invalid,
.message-on-valid,
.message-on-invalid{
  display: none;
}

#name:valid + .name-on-valid{
  display: block;
}
#name:invalid + .name-on-invalid{
  display: block;
}

#eamil:valid + .email-on-valid{
  display: block;
}
#email:invalid + .email-on-invalid{
  display: block;
}

#subject:valid + .subject-on-valid{
  display: block;
}
#subject:invalid + .subject-on-invalid{
  display: block;
}

.send-message-btn{
  grid-column-start: 1;
  grid-column-end: -1;
  padding: .6em;
  background-color: transparent;
  border: 1px solid var(--port-blue);
  color: var(--port-blue);
  font-size: 1rem;
  border-radius: 6px;
}

.input-validation-icon{
  color: rgb(181, 181, 181);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.page-title {
  display: flex;
  font-size: 4rem;
  font-family: montserrat;
  color: var(--port-blue);
  /* font-weight: 400; */
  font-weight: 700;
  align-self: flex-start;
  padding-left: 0;
  position: relative;
}


.on-screen > .about-ch-one,
.on-screen > .projects-ch-one,
.on-screen > .contact-ch-one{
  animation: bounce 1s ease 1;
}

.on-screen > .about-ch-two,
.on-screen > .projects-ch-two,
.on-screen > .contact-ch-two{
  animation: bounce 1s ease 1 .1s;
}

.on-screen > .about-ch-three,
.on-screen > .projects-ch-three,
.on-screen > .contact-ch-three{
  animation: bounce 1s ease 1 .2s;
}

.on-screen > .about-ch-four,
.on-screen > .projects-ch-four,
.on-screen > .contact-ch-four{
  animation: bounce 1s ease 1 .3s;
}

.on-screen > .about-ch-five,
.on-screen > .projects-ch-five,
.on-screen > .contact-ch-five{
  animation: bounce 1s ease 1 .4s;
}

.about-ch-five{
  padding-right: 1.5rem;
}

.on-screen > .about-ch-six,
.on-screen > .projects-ch-six,
.on-screen > .contact-ch-six{
  animation: bounce 1s ease 1 .5s;
}

.on-screen > .about-ch-seven,
.on-screen > .projects-ch-seven,
.on-screen > .contact-ch-seven{
  animation: bounce 1s ease 1 .6s;
}
.contact-ch-seven{
  padding-right: 1.5rem;
}

.on-screen > .projects-ch-eight,
.on-screen > .contact-ch-eight{
  animation: bounce 1s ease 1 .7s;
}

.on-screen > .contact-ch-nine{
  animation: bounce 1s ease 1 .8s;
}

.on-screen > .contact-ch-ten{
  animation: bounce 1s ease 1 .9s;

}


@keyframes bounce{
  0%{
    transform: 
    scale(1,1)
    translateY(0);
  }

  10%{
    transform: 
    scale(1.1,  0.9)
    translateY(0);
  }
  30%{
    transform: 
    scale(0.9, 1.1)
    translateY(-55px);
  }
  50%{
    transform: 
    scale(1.05, 0.95)
    translateY(0);
  }
  58%{
    transform: 
    scale(1,1)
    translateY(-7px);
  }
  65%{
    transform: 
    scale(1,1)
    translateY(0);
  }
  100%{
    transform: 
    scale(1,1)
    translateY(0);
  }
}


